        @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            background-image: repeating-linear-gradient(45deg, rgba(97, 97, 97, 0.1) 0px, rgba(97, 97, 97, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(43, 43, 43), rgb(43, 43, 43));
        }

        .stage {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            height: 100vh;
            width: 100%;
            position: relative;
            gap: 50px;

        }


        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(39, 90, 138,0.4), rgba(0,0,0,1) 100%);
            transition: 1s;
            z-index: 100;
        }

        .logo {
            z-index: 100;
            width: 400px;
            animation: move 2s linear;
            opacity: 0;
            transition: 1s;
        }

        h1 {
            font-family: 'Black Ops One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: white;
            user-select: none;
            font-size: 6em;
            z-index: 200;
            text-align: center;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
            animation: blink 2s steps(1) infinite;
         }

        .controller {

            width: 100%;
            max-width: 700px;
            transition: all .5s ease;
            z-index: 200;

        }

        img {
            width: 100%;
        }

        .hover {
            animation: hover 1s ease infinite alternate;
            transform: rotate(120deg);
            transition: 1s;
        }

        .z-index {
            opacity: 0;
            transform: translateX(-200px);

        }

        #click {
            display: initial;
        }

        #tap {
            display: none;
        }


        @keyframes hover {
            from {
                transform: translateY(-10px);
            }

            to {
                transform: translateY(10px);
            }
        }

        @keyframes blink {
            from {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @keyframes move {
            from {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }


        @media only screen and (max-width: 800px) {

            h1 {
                font-size: 3.5em;
            }

            .controller {
                top: -45%;
            }

            #click {
                display: none;
            }

            #tap {
                display: initial;
            }

        }

        @media only screen and (max-width: 600px) {


            .controller {
                top: -45%;
            }

        }
