* {
  margin: 10px;
  box-sizing: border-box;
}
body {
  display: grid;
  background-color: rgb(245, 246, 247);
  /*  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  grid-template-areas: "product" "option" "option"; */
}

:root {
  font-family: "Quicksand", sans-serif;
}

#configurator {
  display: grid;
  grid-template-areas:
    "product options"
    "features features";
  gap: 1em;
}

#product-preview {
  grid-area: product;
  box-shadow: 3px 3px 8px rgb(20, 19, 19);
  border-radius: 5px;
  position: relative;
  transition: opacity ease-in 0.5s;
  background-color: rgb(167, 207, 207);
}

#product-preview img {
  position: absolute;
  width: 33%;
  height: auto;
  display: flex;
  top: 0.5vw;
  left: 21vw;
}

#product-preview .hide {
  opacity: 0;
}

#product-preview img.basic {
  position: relative;
}

#options {
  grid-area: options;
  box-shadow: 3px 3px 8px rgb(20, 19, 19);
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#options .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
}

#options .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#options .option.chosen {
  text-decoration: underline;
  color: #000;
}

#options .option img {
  width: 3vw;
  height: auto;
}

#options .option figcaption {
  font-size: 20px;
}

#selected {
  grid-area: features;
}

#selected ul {
  list-style-type: none;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  width: 5em; /*3em*/
}

/* Animation classes */

.animate-feature-in {
  /* DONE: Create animation for adding a feature */
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-feature-out {
  /* DONE: Create animation for removing a feature */
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: reverse;
}
@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}
.color_btn {
  cursor: pointer;
  margin: 10px;
  color: rgb(32, 209, 62);
  border-radius: 200px;
  width: 100 px;
  height: 100 px;
  background-color: rgb(17, 19, 16);
}

#color-box {
  position: relative;
  width: 30px;
  height: auto;
  top: 2vw;
  left: 8vw;
  display: inline;
}
.g_to_interact_with {
  fill: transparent;
}
path {
  stroke-width: 2;
}

.SvgContainer {
  left: 15vw;
  top: 10vw;
  position: relative;
  grid-template-columns: auto;
  flex-direction: column;
  width: 50%;
}
h1 {
  text-align: center;
  color: #24201f;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 3rem;
  top: 150px;
}
image {
  pointer-events: none;
}
#btn_black #btn_black2 {
  position: relative;
  display: flexbox;
  top: -22vw;
  width: 50px;
  height: auto;
  left: 30.5vw;
}

#btn_red #btn_red {
  position: relative;
  display: flexbox;
  top: -29.5vw;
  width: 50px;
  height: auto;
  left: 19.75vw;
}
#guld #guld2 {
  position: relative;
  display: flexbox;
  top: -35.5vw;
  width: 10vw;
  height: auto;
  left: 14.5vw;
  z-index: 500;
}
#feature1 {
  width: 10vw;
  height: auto;
}
.cabeza {
  display: flex;
  height: 50px;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(67, 66, 73);
  position: relative;
  z-index: 1;
}
